.navbar {
	background-color: var(--dark-green);
}
.nav-link {
	color: var(--white);
	text-decoration: none;
}
.nav-link:hover {
	color: var(--light-green);
	text-decoration: none;
}
/* .nav-link:active {
	color: var(--light-green);
	text-decoration: none;
} */

.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
}
.navbar-brand:hover {
	color: var(--light-green);
}
.navbar-nav {
	margin-left: 2rem;
}
.brand-wrapper {
	font-family: "Major Mono Display", monospace;
}
.brand-image {
	width: 50px;
	height: 50px;
}
